body {
    background: #B7C4CF;
}

.kotak-login {
    width: 450px;
    height: 450px;
    background: #F6F6C9;
    margin: 120px auto;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 95px;
}

h4, h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 31px;
    color: blue;
    font-variant: small-caps;
    line-height: 0px;
    text-align: center;
}

form {
    margin-top: 80px;
    text-align: center;
}

input[type=text] {
    border: none;
    background-color: transparent; 
    border-bottom: 2px solid #0DB8DE; 
    border-top: 0px; 
    margin-bottom: 20px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    color: black;
    width: 100%;
    height: 40px;
}

input[type=password] {
    background-color: transparent; 
    border: none; 
    border-bottom: 2px solid #0DB8DE; 
    border-top: 0px; 
    border-radius: 0px; 
    font-weight: bold; 
    outline: 0; 
    padding-left: 0px; 
    margin-bottom: 20px; 
    color: black;
    width: 100%;
    height: 40px;
}


button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(180deg, #0c41fa 0%, #3642d9 100%);
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}

a{
    margin-bottom: 500px;
    text-decoration: none;
}